/venv_PF
/data/glassdoor/*
/data/clean_glassdoor.csv
/data/clean_glassdoor_rename.csv
/data/stackoverflow/*
/metadata/*
/data/clean_stackoverflow/clean_2018.csv
/data/clean_stackoverflow/clean_2019.csv
/data/clean_stackoverflow/clean_2020.csv
/data/clean_stackoverflow/clean_2021.csv
/data/clean_stackoverflow/clean_2022.csv
/data/clean_stackoverflow/Reserved_clean_2022.csv
/data/final_tables
/Auto/
/Automatization_with_Airlflow/.env
/Automatization_with_Airlflow/docker-compose.yaml
/Automatization_with_Airlflow/Dockerfile
/Automatization_with_Airlflow/dags/user_defined/db_credential_info.py
/Automatization_with_Airlflow/logs
/Automatization_with_Airlflow/plugins1
/Automatization_with_Airlflow/dags/dag_supabase_v2.py
__pycache__